Repository input-output-hk/vit-servicing-station, pull requests merged in 2021-08, with the labels that each got.

#177 Advisors reviews endpoint
  vit-servicing-station-cli/src/api_token.rs
  vit-servicing-station-cli/src/app.rs
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/down.sql
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/up.sql
  vit-servicing-station-lib/src/db/models/community_advisors_reviews.rs
  vit-servicing-station-lib/src/db/models/mod.rs
  vit-servicing-station-lib/src/db/queries/community_advisors_reviews.rs
  vit-servicing-station-lib/src/db/queries/mod.rs
  vit-servicing-station-lib/src/db/schema.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/handlers.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/logic.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/mod.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/routes.rs
  vit-servicing-station-lib/src/v0/endpoints/challenges/logic.rs
  vit-servicing-station-lib/src/v0/endpoints/funds/logic.rs
  vit-servicing-station-lib/src/v0/endpoints/mod.rs
  vit-servicing-station-lib/src/v0/endpoints/proposals/logic.rs
  vit-servicing-station-tests/src/common/clients/rest.rs
  vit-servicing-station-tests/src/common/db/mod.rs
  vit-servicing-station-tests/src/common/startup/db.rs
  vit-servicing-station-tests/src/common/startup/mod.rs
  vit-servicing-station-tests/src/tests/rest/advisor_reviews.rs
  vit-servicing-station-tests/src/tests/rest/mod.rs
Labels: api

#179 Small adjusment after integration tests in vit-testing project
  vit-servicing-station-lib/src/utils/serde.rs
  vit-servicing-station-tests/src/common/data/generator/arbitrary/snapshot_generator.rs
  vit-servicing-station-tests/src/common/data/generator/voting/plan.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/arbitrary.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/mod.rs
  vit-servicing-station-tests/src/common/startup/db.rs
Labels: test

#183 Group proposal reviews by assessor
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/logic.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/mod.rs
  vit-servicing-station-lib/src/v0/endpoints/advisor_reviews/schemas.rs
  vit-servicing-station-tests/src/common/clients/rest.rs
  vit-servicing-station-tests/src/tests/rest/advisor_reviews.rs
Labels: enhancement

#182 Updated open api docs with advisor reviews
  doc/api/v0.yaml
Labels: documentation, api

#184 Proposals reviews count
  vit-servicing-station-cli/src/csv/models.rs
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/up.sql
  vit-servicing-station-lib/src/db/models/community_advisors_reviews.rs
  vit-servicing-station-lib/src/db/models/proposals.rs
  vit-servicing-station-lib/src/db/views_schema.rs
  vit-servicing-station-lib/src/v0/endpoints/proposals/handlers.rs
  vit-servicing-station-tests/src/common/data/generator/arbitrary/snapshot_generator.rs
  vit-servicing-station-tests/src/common/data/generator/voting/plan.rs
Labels: enhancement
