Repository input-output-hk/vit-servicing-station, pull requests merged in 2021-11, with the labels that each got.

#185 Reviews revisited
  doc/api/v0.yaml
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/up.sql
  vit-servicing-station-lib/src/db/models/community_advisors_reviews.rs
  vit-servicing-station-lib/src/db/schema.rs
  vit-servicing-station-tests/src/common/data/csv_converter.rs
  vit-servicing-station-tests/src/common/data/generator/arbitrary/snapshot_generator.rs
  vit-servicing-station-tests/src/common/data/generator/voting/plan.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/arbitrary.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/mod.rs
  vit-servicing-station-tests/src/tests/rest/advisor_reviews.rs
Labels: api, breaking

#187 Fix OpenApi review ref
  doc/api/v0.yaml
Labels: bug, CI, api

#188 Decrease range of *_rating_given values in review template
  vit-servicing-station-tests/src/common/data/generator/voting/template/arbitrary.rs
Labels: test

#189 Add next registration start time field to fund
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/up.sql
  vit-servicing-station-lib/src/db/models/funds.rs
  vit-servicing-station-lib/src/db/schema.rs
  vit-servicing-station-tests/src/common/data/csv_converter.rs
  vit-servicing-station-tests/src/common/data/generator/arbitrary/snapshot_generator.rs
  vit-servicing-station-tests/src/common/data/generator/voting/plan.rs
  vit-servicing-station-tests/src/common/db/mod.rs
Labels: enhancement, Priority - High, api, breaking

#190 Add highlights field to challenges
  vit-servicing-station-lib/migrations/2020-05-22-112032_setup_db/up.sql
  vit-servicing-station-lib/src/db/models/challenges.rs
  vit-servicing-station-lib/src/db/schema.rs
  vit-servicing-station-tests/src/common/data/generator/arbitrary/snapshot_generator.rs
  vit-servicing-station-tests/src/common/data/generator/voting/plan.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/arbitrary.rs
  vit-servicing-station-tests/src/common/data/generator/voting/template/mod.rs
  vit-servicing-station-tests/src/common/db/mod.rs
Labels: Priority - High, api, breaking

#191 Api fund challenges update
  doc/api/v0.yaml
Labels: documentation, api
